<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Attila's Restaurant</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" ></span> Cart  </a>   </li>
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

{{!-- <div class="row">
    <div class="col-xs-4">
        <div class="pull-left">
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        </div>
    </div>
    <div class="col-xs-8">
        <div class="dropdown pull-right">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                {{# if session.cart.totalItems }}
                <span>({{session.cart.totalItems}})</span>
                {{/if}}
            </a>
            {{# if session.cart.totalItems }}
            <div class="dropdown-menu">
                <div class="cart">
                    {{# each session.cart.items }}
                    <div class="row">
                        <div class="col-xs-4">
                            {{ this.item.title }}
                        </div>
                        <div class="col-xs-4 text-right">
                            <span class="badge">{{ this.quantity }}</span>
                        </div>
                        <div class="col-xs-4 text-right">
                            {{ this.price }} CHF
                        </div>
                    </div>
                    {{/each}}
                    <div class="row">
                        <div class="text-right">
                            <div class="totalPrice">Total: {{ session.cart.totalPrice }} CHF</div>
                            <a href="/cart/" class="btn btn-success">Procceed</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>
</div> --}}